
<h3> Estudiante <small>Nombre...</small> </h3>

<button [routerLink]="['heroes']" class="btn btn-outline-danger">Regresar</button>


<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">
      <div class="form-group">

        <label>Id</label>
        <input type="text" name="" class="form-control" placeholder="Carné estudiante" required>

      </div>
        <label>Nombre</label>
        <input type="text" name="" class="form-control" placeholder="Nombre estudiante" required>

      <div class="form-group">

        <label>Edad</label>
        <input type="number" name="" class="form-control" placeholder="Edad estudiante" required>

      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text" name="" class="form-control" placeholder="Nombre estudiante" required>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
      </div>

    </form>
  </div>
</div>
