

<h1> Heroes </h1>


<div class="row">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/heroe','nuevo']"
      class="bnt btn btn-outline-primary" type="button" name="button">
      New
    </button>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>
